{% extends 'base.html' %}
{% load static %}
    {% block title %}
    <title> 上传录音 </title>
    {% endblock %}

{% block breadcrumb %}

{% endblock %}

{% block content %}

<article class="page-container">
	<form action="/weijue/upload/{{ report_no }}" method="post" enctype="multipart/form-data" class="form form-horizontal" id="form-member-add" >
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">附件：</label>

			<div class="formControls col-xs-8 col-sm-9">
                <span class="btn-upload form-group">
				<input class="input-text upload-url" type="text"  value="{% if wj_unfinish_task %}{{ wj_unfinish_task }}{% endif %}"  style="width:100px">
				<a href="javascript:void();" class="btn btn-primary radius upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
                      <input type="file" multiple name="sound_record" class="input-file">
				</span>
            </div>
		</div>


		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
        {% csrf_token %}
	</form>
</article>

{% endblock %}