{% extends 'base.html' %}
{% load static %}



{% block title %}
<title>修改密码 </title>
{% endblock %}



{% block breadcrumb %}

<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 个人中心 <span class="c-gray en">&gt;</span> 修改密码  <a class="btn btn-success radius r"
                                                    style="line-height:1.6em;margin-top:3px"
                                                    href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>
{% endblock %}


{% block content %}
    {% if error %}
        <div class="Huialert Huialert-error"><i class="Hui-iconfont">&#xe6a6;</i>{{ error }}</div>
    {% endif %}

        {% if sucess_state %}
            <div class="Huialert Huialert-success"><i class="Hui-iconfont">&#xe6a6;</i>修改成功</div>
        {% endif %}

<div class="pd-20">
  <form class="Huiform" action="{% url 'pwreset' %}" method="post">
    <table class="table">
      <tbody>
        <tr>
          <th width="100" class="text-r"><span class="c-red">*</span>新密码：</th>
          <td><input type="password" style="width:200px" class="input-text" value="" id="teacher-new-password" name="password1"></td>
        </tr>
        <tr>
          <th class="text-r"><span class="c-red">*</span> 确认密码：</th>
          <td><input type="password" style="width:200px" class="input-text" value="" id="teacher-new-password2" name="password2"></td>
        </tr>
        <tr>
          <th></th>
          <td><button class="btn btn-success radius" type="submit"><i class="icon-ok"></i> 确定</button></td>
        </tr>
      </tbody>
    </table>
      {% csrf_token %}
  </form>
</div>




{% endblock %}
