<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{% static 'lib/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/respond.min.js' %}"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/H-ui.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/H-ui.admin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'skin/default/skin.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="{% static 'lib/DD_belatedPNG_0.0.8a-min.js' %}"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>完成任务</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 未决回访 <span
        class="c-gray en">&gt;</span> 意健险未决回访未完成 <a class="btn btn-success radius r"
                                                    style="line-height:1.6em;margin-top:3px"
                                                    href="javascript:location.replace(location.href);" title="刷新"><i
        class="Hui-iconfont">&#xe68f;</i></a></nav>



{% if hav_view_prem %}
    {% if messages %}
  <script>
    {% for msg in messages %}
      alert('{{ msg.message }}');
    {% endfor %}
  </script>
{% endif %}
    {% if error %}
        <div class="Huialert Huialert-error"><i class="Hui-iconfont">&#xe6a6;</i>{{ error }}</div>
    {% endif %}


        {% if sucess_state %}
            <div class="Huialert Huialert-success"><i class="Hui-iconfont">&#xe6a6;</i>提交成功</div>
        {% endif %}

    <div class="page-container">


 <form method="get" action="/weijue/unfinish/">
        <div class="text-c"> 领取日期范围：
            <input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin"
                   class="input-text Wdate" style="width:120px;">

            <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })"
                   id="logmax"
                   class="input-text Wdate" style="width:120px;">
            <input  class="input-text" id="搜索" type="text" name="search" placeholder=" 可选项:机构 报案号 " style="width:300px" />

{#            <input class="btn btn-success"  type="submit" <i class="Hui-iconfont">&#xe665;</i> 搜索 value="&nbsp;&nbsp;搜索&nbsp;&nbsp;">#}

            <button  name="" id="" class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
        </div>
</form>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="l">

                <a href="{% url 'weijue:addtask' %}" class='btn btn-primary radius'>
                    <i class="Hui-iconfont"  id="jsStayBtn" >&#xe600;</i> 领取任务</a>

            </span>
            <span class="r">系统剩余任务：<strong>{{ nums }}</strong> </span>
        </div>

        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                <tr class="text-c">
                    <!--					<th width="40"><input name="" type="checkbox" value=""></th>-->
                    <th width="64">机构</th>
                    <th width="200">报案号</th>
                    <th width="90">报案时间</th>
                    <th width="54">立案金额</th>
                    <th width="79">案件类型</th>
                    <th width="80">回访柜面</th>
                    <th width="90">未决原因</th>
                    <th width="90">是否结案</th>
                    <th width="110">备注</th>
                    <th width="90">任务领取时间</th>
                    <th width="70">回访录音</th>
                    <th width="80">确认完成</th>
                </tr>
                </thead>




                {% for task in all_tracer_task.object_list %}
                <tbody>
                <tr class="text-c">
                    <!--					<td><input name="" type="checkbox" value=""></td>-->
                    <form action="/weijue/unfinish/"  method="post" enctype="multipart/form-data">
                    <input type="hidden" name="report_no" value="{{task.report_no}}">
                    <td>{{ task.dpt_name }}</td>
                    <td>{{ task.report_no }}</td>
                    <td>{{ task.report_date }}</td>
                    <td>{{ task.estimate_amount }}</td>
                    <td>{{ task.event_type }}</td>
                    <td>{{ user.username }}</td>
                    <td>
                         <label>
                            <select name="wj_reason1">
                            <option selected value="请选择">请选择</option>
                            <option value="无人接听" >无人接听</option>
                            <option value="联系通畅">联系通畅</option>
                            <option value="有历史记录">有历史记录</option>
                            </select>
                        </label>
                    </td>
                    <td>
                         <label>
                            <select name="case_closed">
                            <option selected value="请选择">请选择</option>
                            <option value="0结案" >0结案</option>
                            <option value="不结案">不结案</option>
                            <option value="有历史记录">有历史记录</option>
                            </select>
                        </label>
                    </td>
                    <td><input class='input-text radius' id="备注" type="remake" name="remake" placeholder="请输入" value=""/></td>

                    <td>{{ task.tracering_date}}</td>
                    <td class="td-manage">

                        <a title="编辑" class="btn btn-primary radius btn-upload" id="" href="javascript:;" onclick="member_edit('录音上传','{% url 'weijue:upload' task.report_no  %}','500','400')"
											 style="text-decoration:none"><i class="Hui-iconfont">&#xe642;</i> 上传</a>

{#                        <span class="btn-upload">#}
{#                      <a href="javascript:void(0);" class="btn btn-primary radius btn-upload">#}
{#                          <i class="Hui-iconfont">&#xe642;</i> 上传</a>#}
{#                      <input type="file" multiple name="sound_record" class="input-file">#}
{#                            <input type="file" name="myfile">  只能提交一个文件#}
{#                    </span>#}
                    </td>

                    <td class="td-manage">
                        <input class="btn btn-primary radius"  type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
                    </td>
                    {% csrf_token %}
                    </form>
                </tr>
                </tbody>
                {% endfor %}


            </table>
        </div>

{#        <div class="pageturn">#}
{#            <ul class="pagelist">#}
{#                {% if all_tracer_task.has_previous %}#}
{#                    <li class="long"><a href="?{{ all_tracer_task.previous_page_number.querystring }}">上一页</a></li>#}
{#                {% endif %}#}
{##}
{#                {% for page in all_tracer_task.pages %}#}
{#                    {% if page %}#}
{#                        {% ifequal page all_tracer_task.number %}#}
{#                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>#}
{#                        {% else %}#}
{#                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>#}
{#                        {% endifequal %}#}
{#                    {% else %}#}
{#                        <li class="none"><a href="">...</a></li>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{##}
{#                {% if all_tracer_task.has_next %}#}
{#                    <li class="long"><a href="?{{ all_tracer_task.next_page_number.querystring }}">下一页</a></li>#}
{#                {% endif %}#}
{##}
{#            </ul>#}
{#        </div>#}

    </div>

{% else %}
    <p> 无权限! </p>

{% endif %}


<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/H-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/H-ui.admin.js' %}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
{#<script type="text/javascript" src="{% static 'lib/datatables/1.10.15/jquery.dataTables.min.js' %}"></script>#}
<script type="text/javascript">

    function member_edit(title,url,w,h){

        layer_show(title,url,w,h);


    }

    {#$(function(){#}
    {#    $('#jsStayBtn').on('click', function(){#}
    {#        $.ajax({#}
    {#            cache: false,#}
    {#            type: "POST",#}
    {#            url:"{% url "org:add_ask" %}",#}
    {#            data:$('#jsStayForm').serialize(),#}
    {#            async: true,#}
    {#            success: function(data) {#}
    {#                if(data.status == 'success'){#}
    {#                    $('#jsStayForm')[0].reset();#}
    {#                    alert("提交成功")#}
    {#                }else if(data.status == 'fail'){#}
    {#                    $('#jsCompanyTips').html(data.msg)#}
    {#                }#}
    {#            },#}
    {#        });#}
    {#    });#}
    {#})#}



    {#layui.use(['layer', 'jquery'], function () {#}
    {#    var $ = layui.$;#}
    {#    layer = layui.layer;#}
    {##}
    {#    $("#sendsubmi").click(function () {#}
    {##}
    {#        var report_no = $('#report_no').val();#}
    {##}
    {#        $.ajax({#}
    {#            type: 'post',#}
    {#            url: '{% url 'weijue:upload' %}', //发送请求#}
    {#            data: {csrfmiddlewaretoken: '{{ csrf_token }}', 'report_no':report_no},#}
    {#            dataType: 'json',#}
    {#            success: function (datad) {#}
    {#                if (datad.stat === "1"){#}
    {#                    layer.msg(datad.mrg, {icon: 1, offset: "auto", time: 2000});#}
    {#                    window.location = '{% url 'login' %}';#}
    {#                }#}
    {#                else {#}
    {#                    layer.msg('修改密码失败，请确认你的信息', {icon: 2, offset: "auto", time: 2000});#}
    {#                }#}
    {##}
    {##}
    {#            },#}
    {#            error: function () {#}
    {#                layer.msg("发送失败，请确认你的信息！", {icon: 2, offset: "auto", time: 2000});#}
    {#            }#}
    {#        });#}
    {##}
    {#    });#}
    {##}
    {#})#}

</script>
<script type="text/javascript" src="{% static 'lib/laypage/1.2/laypage.js' %}"></script>
</body>
</html>